.additional-products {
    width: 280px;
    margin: auto;
} 

.additional-products__title {
    font-size: 24px;
    font-weight: normal;
} 

.additional-products__list {
    list-style: none;
    padding: 0;
    margin-bottom: 57px;
}

// .additional-products__item 

.additional-products__item-title {
    font-size: 16px;
    text-transform: uppercase;
}

.additional-products__product-description {
    display: flex;
    justify-content: space-between;

    font-size: 14px;
}


.additional-products__button {
    width: 280px;

    background-color: #68B738;
    border: none;
    line-height: 40px;
    font-family: 'Oswald', 'Arial', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}

// .button 

// .type

// .additional-products__promotion 

// .promotion 

.promotion__text {
    font-size: 16px;
    color: #fff;
}

.additional-products__price {
    margin: 0;
}

@media (min-width: $tablet-size) {
    .additional-products {
        width: 710px;
        // padding: 0 39px;
        margin-bottom: 76px;
    }

    .additional-products__wrapper {
        padding: 0 39px;
    }

    .additional-products__item-wrapper {
        display: flex;
        justify-content: space-between;
    }
    .additional-products__price {
        margin-left: 50px;
    }

    .additional-products__button {
        width: 100%;
    }

    .additional-products__item {
        margin-bottom: 30px;
    }

    .additional-products__item-title {
        font-size: 20px;
    }

    .additional-products__title {
        font-size: 36px;
    }

    .additional-products__product-description {
        font-size: 16px;
    }
}

@media (min-width: $laptop-size) {
    .additional-products {
        width: 1220px;
        display: flex;
        justify-content: space-between;

        
    }

    .additional-products__promotion {
        margin-top: auto;
        margin-bottom: auto;
    }

    .additional-products__wrapper {
        width: 896px;
        padding: 0;
    }

    .additional-products__item {
        display: flex;
        width: 896px;
        justify-content: space-between;
    }

    .additional-products__item-wrapper {
        display: grid;
        grid-template-columns: 340px 270px;
    }

    .additional-products__button {
        width: 245px;
    }

    .additional-products__item {
        margin-bottom: 15px;
    }

    .additional-products__title {
        margin-bottom: 0px;
    }

    .additional-products__list {
        margin-top: 5px;
    }

    .additional-products__item-title {
        margin-top: 5px;
    }

    .additional-products__product-description {
        margin-top: 10px;
    }
}