.advantages {
    width: 280px;
    margin: auto;
}

.advantages__title {
    font-size: 36px;
}

.advantages__list {
    list-style: none;
    padding: 0;
}

.advantages__item {
    &--leaf {
        background-image: url(./../../img/svgicons/icon-leaf.svg);
        background-repeat: no-repeat;
    }
    &--tub {
        background-image: url(./../../img/svgicons/icon-tub.svg);
        background-repeat: no-repeat;
    }
    &--eat {
        background-image: url(./../../img/svgicons/icon-eat.svg);
        background-repeat: no-repeat;
    }
    &--alarm {
        background-image: url(./../../img/svgicons/icon-alarm.svg);
        background-repeat: no-repeat;
    }
}

.advantages__description {
    font-size: 14px;
    color: #444;
}

@media (min-width: $tablet-size) {
    .advantages {
        width: 700px;
    }
    
    .advantages__title {
        font-size: 60px;
    }

    .advantages__list {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        // margin: auto;
        padding: 0;   
    }

    .advantages__item {
        width: 230px;
        
    }
}

@media (min-width: $laptop-size) {
    .advantages {
        width: 1230px;
        margin: auto;
    }
    .advantages__list {
        grid-template-columns: 250px 250px 250px 250px;
        gap: 75px;
        margin: auto;
        padding: 0;
        justify-content: center;
    }
}