.advantages {

}

.advantages__title {
    font-size: 36px;
}

.advantages__list {
    list-style: none;
}

.advantages__item {
    
}

.advantages__description {
    font-size: 14px;
    color: #444;
}
