.announcement {
    color: #fff;
    background-image: url(./../../img/bg-mobile.jpg);
    background-repeat: no-repeat;
}

.announcement__title {
    font-size: 36px;
}

.announcement__subtitle {
    font-size: 14px;
    text-transform: uppercase;
    
}

.announcement__link {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

