.example-article {
    background-color: #EAEAEA;
}

.example-article__title {
    font-size: 36px;
    font-weight: 400;
}

.example-article__description {
    font-size: 14px;
    color: #444;
}

.example-article__characteristic-list 

.characteristic-list {}

.characteristic-list__term {
    font-size: 24px;
}

.characteristic-list__description {
    font-size: 12px;
    color: #444;
}

.example-article__info {
    font-size: 14px;
}

.example-article__img {}

.example-article__slider {}

.example-slider {}

.example-slider__text {
    font-size: 16px;
} 

.example-slider__toggle {} 


