.more__title {
    font-size: 16px;
    text-transform: uppercase;
    color: #111;
}

.more__subtitle {
    font-size: 12px;
    color: #444;
}

.more__link {
    font-size: 16px;
    text-transform: uppercase;
    color: #444;
} 
