// .products 

.products__title {
    font-size: 36px;
}

// .products__list 

// .products__item 

.products__item-title {
    font-size: 16px;
    text-transform: uppercase;
}

.products__description-list {
    font-size: 12px;
    color: #444;
}

.products__button {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}



// .products__more 


