// .program-selection 

.program-selection__title {
    font-size: 36px;
    font-weight: normal;
}

// .program-selection__form 

.program-selection__subtitle {
    font-size: 14px;
    text-transform: uppercase;
}

.program-selection__about-user {
    font-size: 16px;
    text-transform: uppercase;
    color: #444;
}

.program-selection__text-label {
    font-size: 16px;
    text-transform: uppercase;
    color: #444;
}

// .program-selection__text-input 

.program-selection__program {
    font-size: 16px;
    text-transform: uppercase;
}

// .program-selection__radio-label 

// .program-selection__radio-input 

// .program-selection__radio-title 

// .program-selection__contacts 

.program-selection__contacts-title {
    font-size: 24px;
}

.program-selection__field {
    font-size: 16px;
    text-transform: uppercase;
    color: #444;
    font-family: 'Oswald', Arial, sans-serif;
}

// .title 

// .program-selection__text-input--email 

// .program-selection__text-input--tel 

// .program-selection__comment 

// .program-selection__additional-products 

// .program-selection__checkbox-label 

.program-selection__additional-item {
    font-size: 16px;
    text-transform: uppercase;
}

// .program-selection__checkbox-input 

.program-selection__button {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}

// .button 

.program-selection__required {
    font-size: 14px;
    font-family: Arial, sans-serif;
}
